<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
  <body>
    <table style='width:100%'>
      <tr>
        <td colspan='2' style='text-align:center'>Solicitud Credito.<br><br><br><br></td>
      </tr>

      <tr>
        <td><b>Cliente: </b></td>
        <td>{{ DataComplementary.name }}</td>
      </tr>
      <tr>
        <td><b>RFC: </b></td>
        <td>{{ DataComplementary.rfc }}</td>
      </tr>
      <tr>
        <td><b>Email: </b></td>
        <td>{{ DataComplementary.email }}</td>
      </tr>
      <tr>
        <td><b>Telefono: </b></td>
        <td>{{ DataComplementary.phone }}</td>
      </tr>

      <tr>
        <td colspan='2' style='text-align:center;font-size:11.5px'> <br><br><br><br> Este mensaje fue generado por un sistema automatizado, usando una direccion de correo de notificaciones. Por favor, no respondas a este mensaje.</td>
      </tr>
    </table>
  </body>
</html>